@model Blog


 @Html.Partial("../Home/_Search.cshtml", new Search())


<img src="~/BlogImage/@Model.BlogImage" width="100" alt="Blog Image" />
<p>@Model.Title</p>
<p>@Model.Bstatus</p>
<p>@Model.Bdescription</p>
