

<a asp-action="AddBlog" asp-controller="Blogs" class="bg-blue-500 p-3 p-2 rounded-md text-white">AddBlogs</a>


<a asp-action="GetBlogList" asp-controller="Blogs" id="btn_getblog" data-ajax="true" data-ajax-method="get" data-ajax-update="#getblog" data-ajax-loading="#load"></a>


<div id="load" class="max-w-md mx-auto">

	Loading............

</div>

<div class="flex flex-wrap mt-8 gap-8 px-8" id="getblog">
</div>


<script>
	$(document).ready(function () {
		$('#btn_getblog').click()
	})
</script>